@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local("Pretendard Regular"),
        url("../fonts/woff2/Pretendard-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: local("Pretendard Medium"),
        url("../fonts/woff2/Pretendard-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local("Pretendard Bold"),
        url("../fonts/woff2/Pretendard-Bold.woff2") format("woff2");
}